body {
  border: 0;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: #eeeeee;
}

footer {
  text-align: center;
  background-color: black;
}

footer p {
  padding: 20px;
  color: #eeeeee;
}

td {
  padding: 5px;
}

#find {
  width: 80%;
  padding: 10px;
}

#mainsearch {
  text-align: center;
  align-items: center;
}

#mainlogo {
  width: 80px;
  padding-left: 30px;
}
#prevNext {
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: 700;
  font-size: larger;
}



